@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: black;
  background-image: linear-gradient(to right, #e0eaf3, #cfdef3);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

p {
  color: hsl(210, 12%, 10%);
  font-size: 16px;
}

.radix-themes {
  --my-brand-color: linear-gradient(to right, #e0eaf3, #cfdef3);
  --color-background: var(--my-brand-color);
}

.bluer {
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(16.5px);
  -webkit-backdrop-filter: blur(16.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.custom-bg {
  background: linear-gradient(90deg, #f7f7f7 0%, #f7f7f7 100%);
}
